#section2 {
    background: linear-gradient(180deg, tomato 0%, lightsalmon 100%);
}

#section2column1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

#section2column1 p {
    font-size: 24px;
}

#section2column1 h2 {
    font-size: 32px;
}

@media screen and (max-width: 720px) {
    #section2column1 p {
        font-size: 16px;
    }
    
    #section2column1 h2 {
        font-size: 24px;
    }
}

#slide1-1 { background-image: url(./IMGs/Slider1/Carol\ 5.jpeg); }
#slide2-1 { background-image: url(./IMGs/Slider1/Carol\ 6.jpeg); }
#slide3-1 { background-image: url(./IMGs/Slider1/Carol\ 3.jpeg); }
#slide4-1 { background-image: url(./IMGs/Slider1/Carol\ 2.jpeg); }
#slide5-1 { background-image: url(./IMGs/Slider1/Carol\ 1.jpeg); }
#slide6-1 { background-image: url(./IMGs/Slider1/Carol\ 4.jpeg); }